
.background{
    -fx-background-image: url(mainF.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size:  600 400;
    -fx-background-position: center center;
    -fx-background-color: rgba(238, 223, 223, 0.00);
}

.button{
    -fx-background-color: rgba(238, 223, 223, 0.0);

}

.background1{
    -fx-background-image: url(fon.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size:  600 400;
    -fx-background-position: center center;
}
.table{
-fx-background-color: rgba(255, 192, 115, 0.98);
-fx-border-radius: 20;
 -fx-background-radius: 20;


}
.pane{
-fx-background-color: rgba(255, 182, 25, 0.98)

}
.pane1{
-fx-background-color: rgba(98 ,172 ,245 ,1)
}